/*Global Styling Starts*/
.botmate input {
    border: none;
    border-bottom: 1px solid #a3a3a3;
    background: #dbdbdb;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 15px;
}

.botmate .button.button-primary {
    background: #ff3c00;
    border-color: #ff3c00;
}

.botmate .button.button-secondary {
    border-color: #ff1a00;
    color: red;
}

.botmate .button {
    padding: 4px 15px;
}

.botmate label {
    font-size: 14px;
    font-weight: 500;
}

/*Global Styling Ends*/

.bm-site-configuration {
    border: 1px solid red;
    margin: 10px 0;
    padding: 25px;
}
